@use 'exports/mix' as mix;

.root {
  background-image: url('../../assets/images/bgs/background-header-mobile.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @apply sticky top-0 w-full h-[72px] flex px-[24px] items-center justify-between;

  .root__left {
    @apply flex flex-col items-start;
  }

  .root__right {
    @apply flex justify-center items-center;
    button {
      @include mix.sqr(20px);
      @include mix.app__btn__scl(1.4);
    }
  }
}
