:root {
  --white_smoke: #f5f5f5;
  --purple__prm: #ad1fea;
  --blue__prm: #4661e6;
  --blue__light__0: #62bcfa;
  --blue__dark__0: #647196;
  --blue__dark__1: #3a4374;
  --blue__dark__2: #373f68;
  --gray__0: #f2f4ff;
  --gray__1: #f7f8fd;
  --orange__prm: #f49f85;
  --red__prm: #d73737;
}
