.z__sidebar__bg {
  z-index: 200;
}
.z__navbar {
  z-index: 300;
}
.z__sidebar {
  z-index: 400;
}

.z__generic_popup__bg {
  z-index: 600;
}
.z__generic_popup {
  z-index: 800;
}

.z__wake_up__bg {
  z-index: 1000;
}
.z__wake_up {
  z-index: 1200;
}

.z__toast {
  z-index: 9999;
}
