.root {
  @apply w-full flex flex-col gap-[16px];

  .root__content {
    @apply w-full flex flex-col gap-[4px];

    .content__drop {
      @apply w-full relative;

      .drop__span {
        border-color: var(--border_clr);
        @apply w-full py-[14px] px-[16px] rounded-[10px] bg-gray__1 flex items-center justify-between border transition-all duration-300;

        .span__svg {
          @apply w-[8px] h-[8px] text-blue__prm;
        }
      }
    }
  }
}
