<app-black-bg [css]="blackBgCSS()" />

<div #sideRef class="root" [ngClass]="twd()">
  <div class="root__block_a">
    <div class="block_a__content">
      @for (f of filtersFeedback; track f.id){
      <button
        (click)="onCatChange(f.val)"
        class="content__filter"
        [style.--bg]="bgFilter(f.val)"
        [style.--clr]="clrFilter(f.val)"
      >
        <span class="txt__bd__sm__semi">{{ f.label }}</span>
      </button>
      }
    </div>
  </div>
  <div class="root__block_b">
    <div class="block_b__title_row">
      <span class="title_row__title"> Roadmap </span>

      <a [routerLink]="'/feedbacks/read/roadmap'" (click)="closeOnNav()">
        <span class="txt__bd__sm__semi text-blue__prm border-b border-blue__prm">View</span>
      </a>
    </div>
    <div class="block_b__content">
      @for(f of useRoadCtx.statusesWithCount(); track f.id){
      <div class="content__filter">
        <div class="filter__label">
          <div class="label__circle" [style.--bg]="f.twdClr"></div>

          <span class="label__txt">{{ f.label }}</span>
        </div>

        <span class="filter__count"> {{ f.count }} </span>
      </div>
      }
    </div>
  </div>
</div>
