@use 'exports/mix' as mix;

:host {
  @apply block md:hidden;
}

.root {
  height: calc(100% - 72px);
  min-height: calc(100% - 72px);
  transition: transform 0.4s, opacity 0.3s;
  @apply z-sidebar fixed top-[72px] left-full w-[271px] bg-gray__1 p-[24px] flex flex-col gap-[24px];

  .root__block_b {
    @apply w-full bg-white rounded-[10px] flex flex-col px-[20px] py-[24px];
  }
}
