.root {
  @apply w-full flex flex-col gap-[16px];

  .root__content {
    @apply w-full flex flex-col gap-[4px];

    .content__input {
      border-color: var(--border_clr);
      @apply w-full bg-gray__1 rounded-[10px] py-[13px] px-[24px] outline-none border transition-all duration-300 text-blue__dark__1;
    }

    .content__err {
      color: #d73737;
    }
  }
}
