<div class="root">
  <app-form-header-field [f]="f()" />

  <div class="root__content">
    <input
      [formControl]="useFormField.ctrl()"
      [type]="f().type"
      [attr.data-field]="f().field"
      class="content__input txt__bd__md"
      [placeholder]="f().place"
      [style.--border_clr]="useFormField.borderClr(useFocus.isFocused())"
      (focus)="useFocus.onFocus()"
      (blur)="useFocus.onBLur()"
    />

    @if(!useFormField.isValid()){
    <div class="content__err">
      <span class="txt__bd__sm__reg">
        {{ useFormField.errMsg() }}
      </span>
    </div>
    }
  </div>
</div>
