<div class="root">
  <div class="root__info">
    <span class="txt__bd__sm__bold text-blue__dark__1">
      {{ f().label }}
    </span>

    <span class="txt__bd__sm__reg text-blue__dark__0">
      {{ f().comment }}
    </span>
  </div>

  <div class="root__content">
    <input
      [formControl]="ctrl()"
      [type]="f().type"
      [attr.data-field]="f().field"
      class="content__input txt__bd__md"
      [placeholder]="f().place"
      [style.--border_clr]="
        isValid() ? (useFocus.isFocused() ? '#4661E6' : 'transparent') : '#D73737'
      "
      (focus)="useFocus.onFocus()"
      (blur)="useFocus.onBLur()"
    />

    @if(!isValid()){
    <div class="content__err">
      <span class="txt__bd__sm__reg">
        {{ errMsg() }}
      </span>
    </div>
    }
  </div>
</div>
