<div class="root">
  @if(withLink()){
  <a [routerLink]="path()" class="root__header">
    <ng-content *ngTemplateOutlet="headerRef" />
  </a>
  }@else {
  <div class="root__header">
    <ng-content *ngTemplateOutlet="headerRef" />
  </div>
  }

  <div class="root__body">
    <span class="txt__bd__sm__bold">
      {{ upperCat() }}
    </span>
  </div>

  <div class="mt-[16px]">
    <app-footer-feedback [item]="item()" />
  </div>
</div>

<ng-template #headerRef>
  <div class="header__title">
    <span class="txt__bd__sm__bold">
      {{ item().title }}
    </span>
  </div>

  <div class="header__desc">
    <span class="txt__bd__sm__reg">
      {{ item().description }}
    </span>
  </div>
</ng-template>
