<div class="root">
  <div class="root__body">
    <span class="txt__bd__sm__bold text-blue__dark__1">
      {{ item().title }}
    </span>

    <span class="body__desc">
      {{ item().description }}
    </span>
  </div>

  <div class="root__footer">
    <div class="footer__cat">
      <span class="txt__bd__sm__semi">
        {{ catLabel() }}
      </span>
    </div>

    <div class="footer__counts">
      <app-btn-votes [upvotes]="item().upvotes" [feedbackId]="item().id" />

      @if(footerWithLink()){

      <a [routerLink]="pathComments()" class="counts__comments">
        <ng-container *ngTemplateOutlet="footerContent"></ng-container>
      </a>
      }
      <!--  -->
      @else {
      <div class="counts__comments">
        <ng-container *ngTemplateOutlet="footerContent"></ng-container>
      </div>
      }
    </div>
  </div>
</div>

<ng-template #footerContent>
  <div class="comments__svg">
    <ng-content *ngComponentOutlet="Comment" />
  </div>

  <span class="txt__bd__sm__bold text-blue__dark__1">
    {{ item().comments?.length ?? 0 }}
  </span>
</ng-template>
