.root {
  @apply p-[24px] flex flex-col items-center w-full gap-[24px];

  .root__header {
    @apply w-full flex items-center justify-between;

    .header__back_link {
      @apply w-fit flex items-center gap-[16px];

      .back_link__svg {
        @apply w-[10px] h-[10px] text-blue__prm;
      }
    }
  }

  .root__comments {
    @apply w-full bg-white rounded-[10px] p-[24px] flex flex-col;

    .comments__title {
      @apply flex items-center justify-start;
    }

    .comments__content {
      @apply w-full flex flex-col;
    }
  }

  .root__comment_form {
    @apply w-full p-[24px] flex flex-col gap-[24px] bg-white rounded-[10px];

    .comment_form__content {
      @apply flex flex-col gap-[16px];

      .content__field {
        @apply bg-gray__1 w-full rounded-[10px] h-[80px] p-[16px] text-blue__dark__1;

        &::placeholder {
          color: #8c92b3;
        }
      }

      .content__footer {
        @apply w-full flex items-center justify-between;
      }
    }
  }
}
