<button
  class="root"
  [ngClass]="
    useTablet.isTabletVersion()
      ? 'flex flex-col items-center justify-center min-w-[40px] h-[53px] pt-[14px] pb-[8px] gap-[8px]'
      : 'flex justify-center items-center gap-[10px] py-[6px] px-[15px]'
  "
  (click)="optimisticLike()"
  (mousedown)="useBtnFocus.onFocus()"
  (mouseup)="useBtnFocus.onBlur()"
  (mouseout)="useBtnFocus.onBlur()"
  (blur)="useBtnFocus.onBlur()"
>
  <div class="root__svg">
    <ng-content
      *ngComponentOutlet="
        Chevron;
        inputs: { fill: useBtnFocus.isFocused() ? 'var(--blue__prm)' : 'white' }
      "
    />
  </div>

  <span class="root__votes">
    {{ upvotes() }}
  </span>
</button>
